$bakground:#21374b;
$fontColor: white;

body{
    margin:0;
    padding:0;
    background-color:$bakground;

    header{
        display:flex;
        justify-content: space-around;
        color:$fontColor;

        .image{
            width: 200px;
        }
        
    }

    section{
        margin:2em;
        
        p{
            font-weight: bold;
            color:$fontColor;
        }
    }
}

