/*body*/
$bgBody:#f6f6f6;

/*Nav*/
$colourFontHoverNav:white;
$bgBusiness:#009f5e;
$bgCulture:#41274b;
$bgGear:#1f849f;
$bgIdeas:#778a74;
$bgScience:#ffc036;
$bgSecurity:#621200;
$bgTransportation:#e44c50;
$bgPhoto:#1d1d1d;
$bgVideo:#1d1d1d;
$bgBackChannel:#9dd5d8;

/*main*/
$bgSection:#f6f6f6;