@media only screen and (min-width:900px)
{
    header{
        #header-container{
            
            #subscribe{
                p:first-of-type{
                    display:block;   
                }
            }

            #search{
                display:block;
            }
        
            
        }
    }
}

