#latestVideos{
    @include sectionFormat;

    h1{
        @include h1Format;
    }

    article{
        @include articleFormat;
        display:flex;

        img{
            margin-top: 1em;
            margin-right: 1em;
            margin-bottom: 1em;
            
        }

        p{
            @include paragraphFormat;
            font-size: .7em;

            &:last-of-type{
                @include thirdParagraph;
            }
        }

        &:first-of-type{

            display:block;

            img:first-of-type{
                width: 100%;
                margin: 1em auto;
            }

            p:nth-of-type(2){
                @include secondParagraph;
                margin-top:.5em;
                margin-bottom:.5em;
            }          
        }

        .text{
            @include textSide;
            margin-top:1em;
        }

        &:last-of-type{
            border-bottom:0;
        }

    }

    
}
