
@mixin sectionFormat{
    width: 90%;
    margin:1em auto 0 auto;
    border-top: 10px solid black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}


@mixin h1Format{
    width: 100%;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    padding: .4em 0 .4em .4em;        
    box-sizing: border-box;
}

@mixin h1FormatMedium{
    border-bottom:none;
}

@mixin articleFormat{
    width: 95%;
    margin:0 auto;
    border-bottom: 1px solid gray;
}

@mixin paragraphFormat{
    text-transform: uppercase;
    color:grey;
}

@mixin firstParagraph{
    margin-top:1em;
}

@mixin secondParagraph{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
    color:black;
}

@mixin thirdParagraph{
    margin-bottom: 1em;
}

@mixin textSide{
    display:flex;
    flex-direction: column;
}


@mixin borderBottomShadow($colour){
    border-bottom:3px solid $colour;
    box-shadow: 1px 1px 5px 1px $colour; 
}

@mixin bordertopShadow($colour){
    border-top:3px solid $colour;
    box-shadow: 1px 1px 5px 1px $colour; 
    margin-top: 5em;
}

@mixin sizeIcons($width,$height){
    width: $width;
    height: $height;
}

@mixin imgSmall()
{
    width: 1em;
}

