#mostRecent2{
    @include sectionFormat;

    article{
        @include articleFormat;
        text-align: center;
        img{
            width: 100%;
        }

        p{
            @include paragraphFormat;
            font-size: .7em;

            &:first-of-type{
                @include firstParagraph;
            }

            &:nth-of-type(2){
                @include secondParagraph;
            }


            &:nth-of-type(3){
                @include thirdParagraph;
            }
        }

       

    }

}