$colorBackgroundWebPack: #2b3a42;
$colorLetterWebPack:#5299c7;
$sizeFontParagraph:30px;
$colorFontParagraph:white;

body{
    background-color: $colorBackgroundWebPack;
    margin:0;
    padding:0;
}

header{
    display: flex;
    padding:1em;
    justify-content:space-between;
    background-color: black;
}

.style_h1{
    color:$colorLetterWebPack;
}


#logo{
    width: 100px;
}

.style_paragraph{
    font-size: $sizeFontParagraph;
    color:$colorFontParagraph;
    margin-left: 1em;

}

.react{
    margin-left: 1em;
    padding:.5em;
    width: 200px;
    background-color:#75aecb;
    color:white;
    font-weight: bold;
}