$colorBackgroundWebPack: #2b3a42;
$colorLetterWebPack:#5299c7;

body{
    background-color: $colorBackgroundWebPack;
    margin:0;
    padding:0;
}

header{
    display: flex;
    padding:1em;
    justify-content:space-between;
}

.color_letter_h1{
    color:$colorLetterWebPack;
}



#logo{
    width: 100px;
}