@mixin box{
    .box{
        height: 10em;
        width:10em;
        display:flex;
        justify-content: center;
        align-items: center;
        color:white;
        font-weight:bold;
        border:solid 2px grey;
        font-size: 1.5em;
        border-radius: 5%;
        margin-left:2em;
    }
}