/*Colours*/

$colorBaseTema01:red;
$colorImportantTema01:rgb(44, 5, 5);
$colorWarningTema01:rgb(226, 186, 226);
$colorBaseTema02:blue;
$colorImportantTema02:rgb(5, 5, 80);
$colorWarningTema02:rgb(10, 197, 230);

