@media only screen and (min-width:900px){
    #mostRecentBig2{
        display:grid;
        grid-gap:10px;
        grid-column: 500px auto;
        grid-template-areas:"area1 area2"
                            "area3 area3"; 

        article:nth-child(1){
            grid-area: area1;                   
        }                     
    
        article:nth-child(2){
            grid-area: area2;                   
        }
       article:nth-child(3){
            grid-area: area3;
        }
    }
}