#newsletter{
    article{
        p:first-of-type{
            font-weight: initial;
            font-size: .9em;
            margin-bottom: 4em;
        }

        input{
            border:0;
            font-weight: bolder;
            margin-bottom: 1em;
        }
    }
}